<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="header">
        <h1>Handwritten Digit Recognition</h1>
        <a href="https://github.com/ManuelGuerra1987/Digit-Recognition-WebApp" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/256/25/25231.png" alt="GitHub" style="width: 20px; height: 20px;">
            https://github.com/ManuelGuerra1987/Digit-Recognition-WebApp
        </a>

    </div>

        <div id="grid"></div>
      
        <div id="predict-button">
            <button id="sendGrid">Predict</button>
            <button id="cleanGrid">Clean</button>
        </div>

        <div id="prediction-div"><p id="prediction">Prediction: </p></div>

        <div class="footer">
            <h3>Created by Manuel Guerra, 2024</h1>
        </div>        
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  
  </body>
</html>